body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;

  /* تدرج Navy Mirage */
  background: linear-gradient(135deg, #5983d0, #183353, #5081b9);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* الكارد الرئيسي */
.container {
  width: 100%;
  max-width: 650px;
  padding: 30px;
  border-radius: 25px;

  background: linear-gradient(145deg, #273a58, #22344e);

  box-shadow:
    15px 15px 30px rgba(0, 0, 0, 0.6),
    -10px -10px 25px rgba(255, 255, 255, 0.05);
}

h1 {
  text-align: center;
  color: #e4eefc;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 230%;
}

/* جزء الإدخال */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(145deg, #3e5b85, #162233);
  color: #ffffff;

  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.05);
}

input:focus {
  outline: none;
}

/* الأزرار */
button {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(145deg, #243B55, #35577D);

  box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.6),
    -3px -3px 10px rgba(255, 255, 255, 0.05);

  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

/* عنصر المهمة */
.task-item {
  margin-bottom: 15px;
  padding: 18px;
  border-radius: 20px;
  color: white;

  background: linear-gradient(145deg, #1f2f46, #162233);

  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.6),
    -5px -5px 15px rgba(255, 255, 255, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;
   transition: all 0.25s ease;
  cursor: pointer;
}
.task-item:hover {
  transform: translateY(-4px);
}

.task-item:active {
  transform: scale(0.96);
  box-shadow:
    inset 5px 5px 15px rgba(0, 0, 0, 0.6),
    inset -5px -5px 15px rgba(255, 255, 255, 0.05);
}

.task-content {
  max-width: 65%;
}

.description {
  font-size: 13px;
  margin-top: 6px;
  color: #b0c4de;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 8px;
}

.edit-section {
  display: flex;
  gap: 10px;
  width: 100%;
}
